name: Build and Publish
on: [ push, pull_request ]
jobs:
  build:
    name: Build and deploy Android and Frontend
    runs-on: ubuntu-latest
    steps:

      - name: Setup Java
        uses: actions/setup-java@v1
        with:
          java-version: 11

      - name: Fetch Sources
        uses: actions/checkout@v2

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.3

      - name: Generate CI variables
        run: |
          cd scripts/ci
          chmod +x generateCiVariables.sh
          bash generateCiVariables.sh

      - name: Backend unit tests - schema validation
        run: ./gradlew backend:test

      - name: Generate js files if develop branch
        if: github.ref == 'refs/heads/develop'
        run: ./gradlew frontend:browserDistribution

      - name: Deploy js to Netlify if develop branch
        uses: South-Paw/action-netlify-deploy@v1.2.0
        if: github.ref == 'refs/heads/develop'
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          netlify-auth-token: ${{ secrets.NETLIFY_AUTH_TOKEN }}
          netlify-site-id: ${{ secrets.NETLIFY_SITE_ID }}
          build-dir: './frontend/build/distributions'
          draft: true
          comment-on-commit: true

      - name: Build devRelease apk if develop branch
        if: github.ref == 'refs/heads/develop'
        run: ./gradlew assembleDevRelease

      - name: Sign devRelease APK if develop branch
        uses: r0adkll/sign-android-release@v1
        if: github.ref == 'refs/heads/develop'
        # ID used to access action output
        id: sign_dev_release_app
        with:
          releaseDirectory: android/build/outputs/apk/dev/release
          signingKeyBase64: ${{ secrets.KEYSTORE_BASE64 }}
          alias: ${{ secrets.KEY_ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          BUILD_TOOLS_VERSION: "30.0.2"

      - name: Upload devRelease to Firebase App Distribution if develop branch
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        if: github.ref == 'refs/heads/develop'
        with:
          appId: ${{secrets.FIREBASE_DEV_APP_ID}}
          token: ${{secrets.FIREBASE_TOKEN}}
          groups: android_dev_testers
          file: ${{steps.sign_dev_release_app.outputs.signedReleaseFile}}
